@import url('reset.css');

*:focus {
    /* 기본적으로 focus적용되어 있음 */
    outline: none;
}

.grid {
    padding: 25px 40px 30px;
    margin: 60px auto;
    width: 800px;
    background: #fff;
    border: 2px solid #eed0dc;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #cbcbcb;
}

.grid h1 {
    color: #333;
    font-size: var(--font-large);
    text-align: center;
    padding-bottom: 15px;
}

#question {
    padding: 10px 2em;
    background: salmon;
    border-radius: 15px;
    font-size: 22px;
    color: #fff;
    height: 45px;
}

#quiz {
    text-align: center;
}

.buttons {
    padding: 30px 20px;
    border: 2px solid #eed0dc;
    border-radius: 20px;
}

.btn {
    margin: 10px 40px 20px 0;
    padding: 10px;
    width: 300px;
    height: 40px;
    font-size: 16px;
    color: #333;
    background: #eed0dc;
    border: 1px solid #ffe3ed;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s;
}

.btn:nth-child(2n) {
    /* .btn 그룹에서 2번째에 위치하는 모든요소 선택 (2x1=2번째, 2x2=4번째) */
    margin-right: 0;
}

.btn:hover {
    background: #c34c74;
    color: #fff;
}

.btn:active {
    text-decoration: none;
}

@media only screen and (max-width:  768px) {
    body {
        display: grid;
        grid-template-rows: 60px 500px 1fr;
    }
    .grid {
        width: 600px;
    }
    .grid h1 {
        font-size: 30px;
    }
    #question,
    .btn {
        font-size: 15px;
        margin: 0;
        margin-bottom: 10px;
        padding-bottom: 30px;
    }
    .buttons {
        padding: 10px;
    }
}
